
.blog-page .blog-item {
	margin-bottom: 30px;
}

.blog-page .readmore {
	color: #20509e;
}

.blog-page .readmore i {
	color: #16d0c5;
}

.bi-feature .post-meta {
	margin-bottom: 30px;
}

.bi-feature .blog-text .blog-title {
	font-size: 36px;
}

.widget-area {
	padding: 30px;
	-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	        box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.15);
	margin-bottom: 32px;
}

.widget-area .widget-title {
	margin-bottom: 25px;
}

.widget-area .widget {
	margin-bottom: 20px;
}

.widget-area .widget .widget-title {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ebebeb;
	line-height: 24px;
}

.widget-area .widget ul {
	list-style: none;
}

.widget-area .widget ul a {
	display: inline-block;
	font-size: 16px;
	color: #20509e;
	margin-bottom: 20px;
}

.widget-area .widget ul a:hover {
	color: #16d0c5;
}

.widget-area .widget .popular-posts span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.widget-area .widget .popular-posts h5 a {
	font-size: 18px;
	color: #20509e;
}

.widget-area .widget .popular-posts h5 a:hover {
	color: #20509e;
}

.widget-area .widget .twitter-widget li {
	margin-bottom: 20px;
}

.widget-area .widget .twitter-widget span {
	color: #16d0c5;
	font-size: 12px;
	display: block;
	text-transform: uppercase;
}

.widget-area .widget .twitter-widget h5 {
	font-size: 18px;
	color: #20509e;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a {
	font-size: 18px;
	color: #1f6ae5;
	display: block;
	margin-bottom: 5px;
}

.widget-area .widget .twitter-widget a:hover {
	color: #1f6ae5;
}

.widget-area .widget-subscribe-from {
	padding-top: 10px;
	display: block;
}

.widget-area .widget-subscribe-from input {
	margin-right: 0;
	margin-bottom: 20px;
	width: 100%;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	padding: 15px 20px;
	font-size: 14px;
}

.single-blog-page blockquote {
	font-size: 24px;
	color: #20509e;
	padding-left: 25px;
	border-left: 2px solid #16d0c5;
	line-height: normal;
	margin: 40px 0;
	display: block;
}

.single-blog-page blockquote span {
	display: block;
	font-size: 16px;
	color: #16d0c5;
	padding-top: 10px;
}

.single-blog-page .post-tags a {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 6px 15px;
	margin-right: 2px;
	margin-top: 5px;
	color: #75849a;
	background: #f3f7f9;
	border: 1px solid #ebebeb;
	margin-right: 5px;
}

.single-blog-page .social-share {
	display: block;
	text-align: right;
}

.single-blog-page .social-share p {
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	color: #595959;
}

.single-blog-page .social-share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	text-align: center;
	border-radius: 40px;
	background: #f3f7f9;
	color: #75849a;
	padding-top: 9px;
	font-size: 14px;
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	        box-shadow: 0 0 0 1px #ebebeb;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.single-blog-page .social-share a:hover {
	color: #fff;
}

.releted-posts {
	padding-top: 50px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
}

.releted-posts .blog-item {
	padding-top: 25px;
}

.releted-posts .blog-text {
	-webkit-box-shadow: 0 0 0 1px #ebebeb;
	        box-shadow: 0 0 0 1px #ebebeb;
	padding: 28px 28px 20px;
}

.releted-posts .blog-text .blog-title {
	font-size: 22px;
}

.releted-posts .post-meta {
	margin-bottom: 0;
}

.comment-area {
	padding-top: 50px;
}

.comment-list {
	padding-top: 40px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
	list-style: none;
}

.comment-list .replay-comment-list {
	list-style: none;
	margin-left: 14%;
}

.comment {
	margin-bottom: 40px;
}

.comment .comment-avator {
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.comment .comment-content {
	padding-left: 100px;
}

.comment .comment-content h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

.comment .comment-content h5 span {
	font-size: 12px;
	color: #acb9cc;
	font-family: "Lato", sans-serif;
}

.comment .comment-content p {
	margin-bottom: 0;
}

.comment .comment-content .c-btn {
	font-family: "Futura", sans-serif;
	display: inline-block;
	font-size: 14px;
	border: 1px solid #ebebeb;
	background: #f3f7f9;
	color: #20509e;
	padding: 4px 25px;
	border-radius: 2px;
	margin-right: 5px;
	margin-top: 20px;
}

.comment .comment-content .c-btn:hover {
	color: #fff;
}

.comment-form .form-group {
	position: relative;
	padding: 1px;
	margin-bottom: 20px;
}

.comment-form input,
.comment-form textarea {
	width: 100%;
	padding: 11px 20px;
	border: none;
	border: 1px solid #e5e5e5;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form input:focus,
.comment-form textarea:focus {
	border-color: transparent;
}

.comment-form input:focus+label,
.comment-form textarea:focus+label {
	opacity: 1;
}

.comment-form label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.comment-form textarea {
	height: 115px;
	display: -ms-grid;
	display: grid;
}

@media only screen and (max-width: 767px) {
	.blog-item {
		margin-bottom: 30px;
	}

	.single-blog-page .social-share {
		text-align: left;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 479px) {
	.blog-text {
		padding: 15px;
	}

	.comment .comment-avator {
		float: none;
		margin-bottom: 20px;
	}

	.comment .comment-content {
		padding-left: 0;
	}
}